@use '../../parameters' as p;    

.envoi_mail{
    
    .lost{
        opacity: 0;
        display: none;
    }
    
    height: 50vh;
    
    form {
    
    @extend %position_section;
    transition-duration: 0.5s;
        transition-property: opacity;
    margin-top: p.$hauteurNav + 4;
    grid-template-areas: "nom textarea",
        "prenom textarea",
        "mail textarea",
        "submit";
    grid-template-rows: repeat(3, 15%);
    grid-template-columns: 30%;
    grid-column-gap: 3%;
    grid-row-gap: 17%;
        opacity: 1;
        
        height: 50vh;
    
    label {
        font-size: 1.5rem;
    }
    
    .group-name{
        grid-area: nom;
        grid-row: 1;
        grid-column: 1 / 2;
    }
    
    .group-name2{
        grid-area: prenom;
        grid-row: 2;
        grid-column: 1 / 2;
    }
    
    .group-mail{
        grid-area: mail;
        grid-row: 3;
        grid-column: 1 / 2;
    }
        
        span{
            color: #ff0000;
        }
    
    input{
        
        &[type="submit"].btn-send{
            grid-area: submit;
            grid-column: 1 / 4;
            border-color: #000000;
            background-color: #ffffff;
            font-family: "Oxanium";
            font-size: p.$tailleLien - 0.5;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-top: -(p.$hauteurNav) + 3;
            
            &:hover, &:active, &:focus{
                @include p.effectSurvol(#000000, #ffffff);
                cursor: pointer;
            }
        }
    }
    
    .group-message{
        
        grid-area: textarea;
        grid-row: 1 / 4;
    }
    
}
    .success_mail{
        @extend %position_section;
        margin-top: p.$hauteurNav + 4;
        height: 50vh;
        transition-duration: 0.5s;
        transition-property: opacity;
        
        grid-template-areas: "icone",
            "message";
        grid-template-rows: 30% 70%;
        opacity: 1;
        
        i{
            position: relative;
            left: 30%;
            grid-area: icone;
            grid-row: 1;
        }
        
        .message_success{
            color: #6e9044;
            font-size: p.$tailleLien - 0.5;
            grid-area: message;
        }
    }
}

.networks {
    @extend %position_section;
    margin-top: p.$hauteurNav + 4;
    width: 100%;
    height: 10vh;
    
    grid-template-areas: "lien1 lien2";
    grid-template-columns: 20% 20%;
    grid-column-gap: 10%;
    
    a{
        img{
          transition-duration: 0.5s;  
        }
        
        &:hover, &:active, &:focus{
            img{
                transform: scale(1.1);
                transition-duration: 0.5s;
            }
        }
    }
    
    .facebook{
        grid-area: lien1;
        text-align: end;
    }
    
    .instagram{
        grid-area: lien2;
    }
}

@include p.tablet{
    
    .envoi_mail{
        form{
            grid-template-columns: 40%;
        }
    }
    
    .networks{
        grid-template-columns: 25% 25%;
    }
    
}

@include p.smartphone{
    
    .envoi_mail{
        
        height: 70vh;
        
        form{
            
            height: 70vh;
            
        grid-template-areas: "nom"
        "prenom"
        "mail"
        "textarea"
        "submit";
    grid-template-rows: repeat(3, 15%) 30% 15%;
    grid-template-columns: 90%;
    grid-row-gap: 8%;
            
            span{
                font-size: 0.9rem;
            }
            
            label {
        font-size: 1rem;
    }
    
    .group-name{
        grid-row: 1;
        grid-column: 1;
    }
    
    .group-name2{
        grid-row: 2;
        grid-column: 1;
    }
    
    .group-mail{
        grid-row: 3;
        grid-column: 1;
    }
            
            .group-message{
        grid-row: 4;
        grid-column: 1;
                
                textarea{
                    height: 10rem;
                }
    }
            
            input{
        
        &[type="submit"].btn-send{
            grid-row: 5;
            grid-column: 1;
            font-size: p.$tailleLien - 1.5;
            margin-top: 0;
        }
    }
            
        }
        
        .success_mail{
            
            grid-template-areas: "icone"
            "message";
            height: 70vh;
        
        i::before{
            
            background-image: url(../../pictures/valide.png);
                background-repeat: no-repeat;
    background-size: 6rem 6rem;
    display: block;
    width: 6rem; 
    height: 6rem;
    content:"";
        }
        
        .message_success{
            font-size: p.$tailleLien - 2;
        }
    }
        
    }
    
    .networks{
        grid-template-columns: 45% 45%;
        margin-top: p.$hauteurNav + 6;
        height: 20vh;
    }
    
}