<section class="envoi_mail">
    <form [formGroup]="formGroup" (ngSubmit)="sendMail()" [@switchMessage]="success ? 'lost' : 'visible'">
    <div class="group-name">
        <label for="nom">Nom: </label><br>
        <input type="text" id="nom" name="nom" [ngClass]="{'valid': submitted && nom.valid,'invalid': submitted && nom.errors}" formControlName="nom">
        <span *ngIf="submitted && nom.errors && nom.errors.required">Nom requis</span>
        <span *ngIf="submitted && nom.errors && nom.errors.minlength">Le nom doit comporter au moins 2 caractères</span>
    </div>
    
    <div class="group-name2">
        <label for="prenom">Prénom: </label><br>
        <input type="text" id="prenom" name="prenom" [ngClass]="{'valid': submitted && prenom.valid,'invalid': submitted && prenom.errors}" formControlName="prenom">
        <span *ngIf="submitted && prenom.errors && prenom.errors.required">Prénom requis</span>
        <span *ngIf="submitted && prenom.errors && prenom.errors.minlength">Le prénom doit comporter au moins 2 caractères</span>
    </div>
    
    <div class="group-mail">
        <label for="mail">Adresse mail: </label><br>
        <input type="email" id="mail" name="mail" [ngClass]="{'valid': submitted && mail.valid,'invalid': submitted && mail.errors}" formControlName="mail">
        <span *ngIf="submitted && mail.errors && mail.errors.required">Mail requis</span>
        <span *ngIf="submitted && mail.errors && mail.errors.email">Doit respecter le format mail</span>
    </div>
    
    <div class="group-message">
        <label for="message">Message: </label><br>
        <textarea name="message" id="message" cols="30" rows="11" [ngClass]="{'valid': submitted && message.valid,'invalid': submitted && message.errors}" formControlName="message"></textarea><br>
        <span *ngIf="submitted && message.errors && message.errors.required">Message requis</span>
        <span *ngIf="submitted && message.errors && message.errors.minlength">Le message doit contenir au moins 10 caractères</span>
    </div>
    
    <input type="submit" value="ENVOYER" class="btn btn-send">
</form>
<section class="success_mail" [@switchMessage2]="success ? 'visible' : 'lost'">
    <i class="icon icon-valide"></i>
    <span class="message_success">Votre message a bien été envoyé !</span>
</section>
</section>

<section class="networks">
   <div class="facebook">
       <a href="https://fr-fr.facebook.com/pages/category/Artist/J%C3%A9r%C3%B4me-Fidon-971384976268723/" target="_blank">
        <img src="assets/facebook.png" alt="Chaîne Facebook" title="Chaîne Facebook" width="40%">
    </a>
   </div>
   <div class="instagram">
       <a href="https://www.instagram.com" target="_blank">
        <img src="assets/instagram.png" alt="Chaîne Instagram" title="Chaîne Instagram" width="40%">
    </a>
   </div>
</section>