@use '../../parameters' as p;

@keyframes slideWoop{
    from{
        width: 0;
        height: 0.5rem;
        opacity: 1;
    }
    
    20%{
        width: 110%;
    }
    
    50%{
        width: 50%;
    }
    
    75%{
        width: 105%;
    }
    
    90%{
        width: 75%;
    }
    
   to{
        width: 100%;
        height: 0.5rem;
       opacity: 1;
    }
}

@keyframes slideWoopReverse{
    
    from{
        
        width: 100%;
        height: 0.5rem;
       opacity: 1;
    }
    
    20%{
        width: 75%;
    }
    
    50%{
        width: 105%;
    }
    
    75%{
        width: 50%;
    }
    
    90%{
        width: 110%;
    }
    
   to{
        
        width: 0;
        height: 0;
        opacity: 0;
    }
    
}

ul {
    
    display: none;
    grid-template-rows: repeat(4, 26%);
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    right: 0;
    bottom: 1rem;
    background-color: #ffffff;
    
    li{
        list-style-type: none;
        display: block;
        
        a{
            text-decoration: none;
            color: #000000;
            font-size: p.$tailleLien;
            
            @each $categorie, $lien in p.$icones{
            .icon-#{$categorie}::before{
                content: url(#{$lien});
            }
        }
            
            & + hr{
                height: 0;
                position: relative;
                top: -10%;
                background-color: #000000;
                margin: 0;
                width: 0;
                opacity: 0;
                animation: slideWoopReverse 0.5s;
            }
            
            &.active{
                
                & + hr{
                    @extend %active;
                }
            }
            
            &:hover, &:active, &:focus{
                & + hr{
                    animation: slideWoop 1s forwards;
                }
            }
        }
    }
}

@include p.smartphone{

    ul{
        li{
            margin-top: 10%;
            a{
                font-size: p.$tailleLien - 1;
                
                @each $categorie, $lien in p.$icones{
            .icon-#{$categorie}::before{
                background-image: url(#{$lien});
                background-repeat: no-repeat;
    background-size: 2rem 2rem;
    display: inline-block;
    width: 2rem; 
    height: 2rem;
    content:"";
                
            }
        }
                
                & + hr{
                    top: 0;
                }
                
            }
        }
    }
    
}

@media screen and (max-width: 350px){
    ul{
        justify-content: start;
    }
}