<section class="biography">
    <section *ngFor="let section of sections">
         <img src="https://backofficefidon.frb.io/{{section.photo}}" alt="Illustration" title="Illustration">
        <div [innerHTML]="section.texte"></div>
    </section>
</section><br><br><br><br><br>

<section class="exhibitions">
    
    <div class="title">EXPOSITIONS</div><br>
    
    <div class="select_year">
       <button class="prev" (click)="prevIndex()">Prédécent</button>
        <div class="annee">{{annees[index]}}</div>
        <button class="next" (click)="nextIndex()">Suivant</button>
    </div>
 
   <div class="timeline-exhibitions">
      
       <ng-vertical-timeline *ngIf="displayExhibitions.length > 0" [data]="displayExhibitions"></ng-vertical-timeline>
    <p *ngIf="displayExhibitions.length === 0">Pas d'expositions <span *ngIf="index === annees.length - 1">pour le moment</span></p>
   </div>
    
</section>