@import '../../parameters';

@mixin modif_tablet_smartphone{
    .biography{
        
        display: grid;
        grid-row-gap: 15%;
        margin: 0 auto;
        margin-top: $hauteurNav + 6;
        
        section{
            display: grid;
            grid-template-areas: "image"
                "texte";
            grid-template-rows: 50% 100%;
            grid-row-gap: 5%;
            grid-template-columns: 100%;
            grid-column-gap: 0;
            
            img{
                grid-area: image;
                grid-column: 1;
                -webkit-filter: brightness(0.4);
                filter: brightness(0.4);
                position: relative;
                z-index: 1;
            }
            
            div{
                grid-area: texte;
                grid-column: 1;
                grid-row: 1;
                position: relative;
                z-index: 2;
                color: #ffffff;
            }
            
            &:nth-child(even){
                img, div{
                    grid-column: 1;
                }
            }
        }
    }
}

.biography{
    @extend %position_section;
    grid-row-gap: 15%;
    margin-top: $hauteurNav + 6;
    
    section{
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        grid-template-areas: ". image . texte .";
        grid-template-columns: 5% 45% 5% 40% 5%;
        
        img{
            grid-area: image;
            grid-column: 2;
            width: 100%;
        }
        
        div{
            grid-area: texte;
            text-align: center;
            grid-column: 4;
        }
        
        &:nth-child(even){
        img{
            grid-column: 4;
        }
        
        div{
            grid-column: 2;
        }
        
        }
        
    }
}

.exhibitions{
    @extend %position_section;
    margin-top: $hauteurNav + 14;
    
    .title {
        font-size: $tailleLien;
        margin: 0 auto;
    }
    
    .select_year{
        
        button{
            background-color: transparent;
            border: none;
        }
        
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        grid-template-areas: ". iconegauche annee iconedroite .";
        grid-template-columns: auto 20% 40% 20% auto;
        
        .annee{
            grid-area: annee;
            text-align: center;
            background-color: #ffffff;
            padding: 1.25rem 1.875rem 1.25rem 1.875rem;
            font-size: $tailleLien - 1;
        }
        
        .prev{
            grid-area: iconegauche;
            
        }
        
        .next{
            
        grid-area: iconedroite;
            
        }
    }
    
    .timeline-exhibitions{
        width: 30rem;
        
        p{
            text-align: center;
        }
    }
    
}

@include miniDesktop{
    .biography{
        width: 85%;
        margin: 0 auto;
        margin-top: $hauteurNav + 6;
    }
}

@include tablet{
    @include modif_tablet_smartphone;
}

@include smartphone{
    @include modif_tablet_smartphone;
    
    .exhibitions{
        
        .title{
            font-size: $tailleLien - 0.8;
        }
        
        .select_year{
            
            .prev{
               .icon-left::before{
                   background-image: url(../../pictures/fleche_choix.png);
                background-repeat: no-repeat;
    background-size: 4rem 4rem;
    display: inline-block;
    width: 4rem; 
    height: 4rem;
    content:"";
                
            } 
            }
            
            .next{
                
                .icon-right::before{
                   background-image: url(../../pictures/fleche_choix.png);
                background-repeat: no-repeat;
    background-size: 4rem 4rem;
    display: inline-block;
    width: 4rem; 
    height: 4rem;
    content:"";
                
            }
            }
            
            grid-template-columns: 10% 30% 30% 30% 10%;
            
            .annee{
                font-size: 1rem;
                padding: 1rem;
        }
        }
        
        .timeline-exhibitions{
            width: 100%;
        }
    }
}