<section class="biography">
    <section *ngFor="let section of sections">
         <img src="https://backofficefidon.frb.io/{{section.photo}}" alt="Illustration" title="Illustration">
        <div [innerHTML]="section.texte"></div>
    </section>
</section><br><br><br><br><br>

<section class="exhibitions">
    
    <div class="title">EXPOSITIONS</div><br>
    
    <div class="select_year">
       <button class="prev" (click)="prevIndex()">&leftarrow;</button>
        <div class="annee">{{annees[index]}}</div>
        <button class="next" (click)="nextIndex()">&rightarrow;</button>
    </div>
 
   <div class="timeline-exhibitions">
      
       <ng-timeline-vertical *ngIf="displayExhibitions.length > 0">
        <ng-timeline-item *ngFor="let exhibition of displayExhibitions" title="{{exhibition.date_debut | date:'d MMMM y'}} {{exhibition.date_fin ? '-' : ''}} {{exhibition.date_fin | date:'d MMMM y'}}" content="{{exhibition.description}}"></ng-timeline-item>
    </ng-timeline-vertical>
    <p *ngIf="displayExhibitions.length === 0">Pas d'expositions <span *ngIf="index === annees.length - 1">pour le moment</span></p>
   </div>
    
</section>