<section class="biography">
    <section *ngFor="let section of sections">
        <img src="{{section.photo_section}}" alt="Illustration" title="Illustration" width="350" height="223">
        <div [innerHTML]="section.texte_section | hTML"></div>
    </section>
</section>


<section class="exhibitions">
    
    <div class="title">EXPOSITIONS</div>
    
    <div class="select_year">
       <button class="prev" (click)="prevIndex()"><i class="icon icon-left"></i></button>
        <div class="annee">{{annees[index]}}</div>
        <button class="next" (click)="nextIndex()"><i class="icon icon-right"></i></button>
    </div>
 
   <div class="timeline-exhibitions">
       <ng-timeline-vertical *ngIf="displayExhibitions.length > 0">
        <ng-timeline-item *ngFor="let exhibition of displayExhibitions" title="{{exhibition.date_debut_exposition | date:'d MMMM y'}} {{exhibition.date_fin_exposition ? '-' : ''}} {{exhibition.date_fin_exposition | date:'d MMMM y'}}" content="{{exhibition.description_exposition}}"></ng-timeline-item>
    </ng-timeline-vertical>
    <p *ngIf="displayExhibitions.length === 0">Pas d'expositions <span *ngIf="index === annees.length - 1">pour le moment</span></p>
   </div>
    
</section>