@use '../../parameters' as p;

.biography{
    @extend %position_section;
    grid-row-gap: 25%;
    margin-top: p.$hauteurNav + 6;
    
    section{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas: ". image . texte .";
        grid-template-columns: 5% 45% 5% 40% 5%;
        
        img{
            grid-area: image;
            grid-column: 2;
        }
        
        div{
            grid-area: texte;
            text-align: center;
            grid-column: 4;
        }
        
        &:nth-child(even){
        img{
            grid-column: 4;
        }
        
        div{
            grid-column: 2;
        }
        
        }
        
    }
}

.exhibitions{
    @extend %position_section;
    margin-top: p.$hauteurNav + 10;
    
    .title {
        font-size: p.$tailleLien;
        margin: 0 auto;
    }
    
    .select_year{
        
        button{
            background-color: transparent;
            border: none;
        }
        
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas: ". iconegauche annee iconedroite .";
        grid-template-columns: auto 20% 40% 20% auto;
        
        .annee{
            grid-area: annee;
            text-align: center;
            background-color: #ffffff;
            padding: 1.25rem 1.875rem 1.25rem 1.875rem;
            font-size: p.$tailleLien - 1;
        }
        
        .prev{
            
            -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
            grid-area: iconegauche;
            
            .icon-left::before{
        content: url(../../pictures/fleche_choix.png);
         width: 6rem;
            height: 6rem;
    }
            
        }
        
        .next{
            
        grid-area: iconedroite;
            
            .icon-right::before{
        content: url(../../pictures/fleche_choix.png);
         width: 6rem;
            height: 6rem;
    }
            
        }
    }
    
    .timeline-exhibitions{
        width: 30rem;
        
        p{
            text-align: center;
        }
    }
    
}