<nav class="container">
    <button [ngClass]="{'lost': comeback}" (click)="toggleMenu()">
    <div>
        <span></span>
        <span></span>
        <span></span>
    </div><span [ngClass]="{'lost': determine}"><b>MENU</b></span></button>
    
    <button [ngClass]="{'lost': !comeback}" (click)="backWorks()"><i class="icon icon-back"></i></button>
    
    <span class="nomPage">{{nomPage | uppercase}}</span>
    
    <app-menu [open]="determine"></app-menu>
</nav>

<router-outlet (activate)="afficheBack($event)" (deactivate)="notePage($event)"></router-outlet>