<nav class="container">
    <button (click)="start()">
    <div [ngClass]="{'close': determine, 'fleche': comeback}">
        <span></span>
        <span></span>
        <span></span>
    </div><span [ngClass]="{'menu-text': true, 'lost': determine || comeback}"><b>MENU</b></span></button>
    
    <span class="nomPage">{{nomPage | uppercase}}</span>
    
    <app-menu [open]="determine"></app-menu>
</nav>

<ngx-loading-spinner color="#000000"></ngx-loading-spinner>

<router-outlet (activate)="afficheBack($event)" (deactivate)="notePage($event)"></router-outlet>