$bg-page: #ffffff !default;

$tailleIcone: 5px;

$icones: ("home": "../../pictures/home.png", "intro": "../../pictures/presentation.png", "oeuvre": "../../pictures/oeuvres.png", "contact": "../../pictures/contact.png");

$zindex: 1;

$zindexMenu: 900;

$tailleLien: 3rem;