$tailleIcone: 5px;

$icones: ("home": "../../pictures/home.png", "intro": "../../pictures/presentation.png", "oeuvre": "../../pictures/oeuvres.png", "contact": "../../pictures/contact.png");

$zindex: 1;

$zindexMenu: 900;

$tailleLien: 3rem;

$hauteurNav: 12.5vh;

$miniDesktop: 1200px;

$tablet: 992px;

$smartphone: 768px;

%position_section{
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

%champs_formulaire{
            border: 0.1875rem solid #000000;
            width: 100%;
            padding: 1rem;
            font-family: "Oxanium";
            font-size: 1.2rem;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-property: border;
            transition-property: border;
}

%focus_formulaire{
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                -webkit-transition-property: border;
                transition-property: border;
                border-width: 0.0625rem; 
                border-style: solid;
                outline: none;
}

%active{
        width: 100%;
        height: 0.5rem;
        opacity: 1;
    -webkit-animation: none;
    animation: none;
}

@mixin effectSurvol($couleur1, $couleur2){
    background-color: $couleur1;
    color: $couleur2;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

@mixin miniDesktop{
    
    @media screen and (min-width: #{$tablet}) and (max-width: #{$miniDesktop}){
        @content;
    }
    
}

@mixin tablet{
    
    @media screen and (min-width: #{$smartphone}) and (max-width: #{$tablet}){
        @content;
    }
    
}

@mixin smartphone{
    
    @media screen and (max-width: #{$smartphone}){
        @content;
    }
    
}