$tailleIcone: 5px;

$icones: ("home": "../../pictures/home.png", "intro": "../../pictures/presentation.png", "oeuvre": "../../pictures/oeuvres.png", "contact": "../../pictures/contact.png");

$zindex: 1;

$zindexMenu: 900;

$tailleLien: 3rem;

@mixin effectSurvol($couleur1, $couleur2){
    background-color: $couleur1;
    color: $couleur2;
    transition-duration: 0.5s;
}

a.btn{
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 1.25rem;
    border-radius: 1rem;
    transition-duration: 0.5s;
    padding-top: 1.3125rem;
    padding-bottom: 1.3125rem;
}