@use 'parameters' as p;

@font-face{
    font-family: 'Oxanium';
    src: url(./fonts/oxanium/Oxanium-Regular.ttf),
     url(./fonts/oxanium/Oxanium-Regular.eot),
     url(./fonts/oxanium/Oxanium-Regular.otf),
     url(./fonts/oxanium/Oxanium-Regular.woff) format('woff'),
     url(./fonts/oxanium/Oxanium-Regular.woff2) format('woff2');
}

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --bg-page: #ffffff;
}

::-moz-selection{
    background-color: #000000;
    color: #ffffff;
}

::selection{
    background-color: #000000;
    color: #ffffff;
}

body{
    background-color: var(--bg-page);
    font-family: 'Oxanium';
    display: grid;
    grid-template-areas: 
        "nav"
        "content";
    grid-template-rows: 10% auto;
}

nav{
    position: fixed;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-area: nav;
    width: 100%;
    height: p.$hauteurNav;
    z-index: p.$zindexMenu;
    background-color: var(--bg-page);
    top: 0;
    left: 0;
    
    button{
        width: 10%;
        background-color: transparent;
        border-color: transparent;
        outline: inherit;
        position: fixed;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        grid-template-areas: "icone texte";
        grid-template-columns: 10% 40%;
        left: 1%;
        z-index: p.$zindexMenu;
        
        &:hover{
            cursor: pointer;
        }
        
        span.menu-text {
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            text-orientation: upright;
            grid-area: texte;
            font-family: 'Oxanium';
            font-size: 1.3rem;
            opacity: 1;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-property: opacity;
            transition-property: opacity;
        }
        
        div{
            
            grid-area: icone;
            
            &.close{
                span{
                    
                    -webkit-transition-duration: 0.5s;
                    
                    transition-duration: 0.5s;
                    
                    &:nth-child(2){
                        display: none;
                        opacity: 0;
                        -webkit-transition-property: opacity;
                        transition-property: opacity;
                    }
                    
                    &:first-child{
                        width: 5rem;
                        -webkit-transform-origin: 0 0;
                        transform-origin: 0 0;
                        -webkit-transform: rotateZ(45deg);
                        transform: rotateZ(45deg);
                    }
                    
                    &:last-child{
                        width: 5rem;
                        -webkit-transform-origin: 0 0;
                        transform-origin: 0 0;
                        -webkit-transform: rotateZ(-45deg) translateX(-40%) translateY(35%);
                        transform: rotateZ(-45deg) translateX(-40%) translateY(35%);
                    }
                }
            }
            
            &.fleche{
                    
                    span{
                        
                        -webkit-transition-duration: 0.5s;
                        
                        transition-duration: 0.5s;
                        
                        &:nth-child(2){
                            width: 5rem;
                            border-radius: 1rem;
                    }
                    
                    &:first-child{
                        width: 3.5rem;
                        -webkit-transform-origin: 0 0;
                        transform-origin: 0 0;
                        -webkit-transform: rotateZ(130deg) translateX(-30%) translateY(-140%);
                        transform: rotateZ(130deg) translateX(-30%) translateY(-140%);
                    }
                    
                    &:last-child{
                        width: 3.5rem;
                        -webkit-transform-origin: 0 0;
                        transform-origin: 0 0;
                        -webkit-transform: rotateZ(35deg) translateX(-27%) translateY(-60%);
                        transform: rotateZ(35deg) translateX(-27%) translateY(-60%);
                    }
                    }
                }
            
            span{
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                opacity: 1;
                display: block;
                margin: 0 auto;
                width: 1.5rem;
                height: 1.5rem;
                background-color: #000000;
                border-radius: 50%;
            }
        }
        
        .icon-back{
            content: url(pictures/fleche_back.png);
            -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
            width: 6rem;
            height: 6rem;
            grid-area: icone;
        }
    }
    
    .lost{
        display: none;
        opacity: 0;
        -webkit-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    
    .nomPage{
        position: fixed;
        left: 35%;
        top: 2%;
        font-size: 4rem;
        text-align: center;
    }
}

.btn{
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 1.25rem;
    border-radius: 1rem;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    padding-top: 1.3125rem;
    padding-bottom: 1.3125rem;
}

i.icon{
    width: p.$tailleIcone;
    height: p.$tailleIcone;
    vertical-align: middle;
}

.icon-valide::before{
    content: url(pictures/valide.png);
}

input{
    &[type="text"], &[type="email"]{
            @extend %champs_formulaire;
            
        &.valid{
            border-color: #6e9044;
        }
        
        &.invalid{
            border-color: #ff0000;
        }
            
            &:focus{
                @extend %focus_formulaire;
            }
        }
}

textarea{
    @extend %champs_formulaire;
    resize: none;
    
    &.valid{
            border-color: #6e9044;
        }
        
        &.invalid{
            border-color: #ff0000;
        }
            
            &:focus{
                @extend %focus_formulaire;
            }
}

app-home{
    height: 95vh;
}

app-contact{
    height: 75vh;
}

@include p.miniDesktop{
    
    nav{
        
        position: fixed;
        
        button{
           grid-template-areas: "icone texte";
            grid-template-columns: 20% 50%; 
        }
        
        .nomPage{
            left: 30%;
        }
        
    }
    
}

@include p.tablet{
    
    nav{
        
        position: fixed;
        
        button{
            left: 0;
            width: 15%;
           grid-template-areas: "icone texte";
            grid-template-columns: 20% 40%;
        }
        
        .nomPage{
            left: 25%;
        }
        
    }
    
}

@include p.smartphone{
    
    nav{
        
        position: fixed;
        
        button{
            width: 5rem;
           grid-template-areas: "icone texte";
            grid-template-columns: 30% 3rem;
            
            span{
            font-size: 1.2rem;
        }
            
            i{
                width: p.$tailleIcone - 2;
                height: p.$tailleIcone - 2;
                
            svg{
                border: red solid 1px;
                position: relative;
                bottom: 2.6rem;
            }
            }
        }
        
        .nomPage{
            left: 30vw;
            top: 3.5%;
            font-size: 1.7rem;
        }
        
    }
    
    textarea, input[type="text"], input[type="email"]{
        font-size: 1rem;
    }
    
    app-home{
    margin-top: p.$hauteurNav - 10;
    }
    
    app-contact{
        height: auto;
    }
    
}