<section class="choix_oeuvres">
    
<select name="annee_oeuvre" id="annee_oeuvre" [(ngModel)]="anneeOeuvre" (change)="filterWorks()">
    <option *ngFor="let annee of annees" value="{{annee}}">{{annee}}</option>
</select>
    
</section>


<section class="liste_oeuvres">
    
    <p *ngIf=" displayOeuvres.length === 0">Pas d'oeuvres<br><span *ngIf="anneeOeuvre === annees[annees.length - 1]">pour le moment</span></p>
    
    <div class="oeuvre" *ngFor="let oeuvre of displayOeuvres">
        <a [routerLink]="[oeuvre.id]">
            <img src="http://127.0.0.1:8000/{{oeuvre.photo}}" width="100%" height="auto" alt="{{oeuvre.nom}}" title="{{oeuvre.nom}}">
        </a>
    </div>
    
</section>