@use '../../parameters' as p;

.choix_oeuvres{
    @extend %position_section;
    margin-top: p.$hauteurNav + 6;
    
    select{
        font-size: p.$tailleLien;
        font-family: "Oxanium";
        padding: 1rem 11.25rem;
        border: none;
    }
}

.liste_oeuvres{
    
    @extend %position_section;
    margin-top: p.$hauteurNav - 4;
    
    p{
            font-size: p.$tailleLien;
        }
        
    
    .oeuvre{
        width: 45rem;
        
        a{
            display: block;
            padding: 1rem 1rem 0.5rem 1rem;
            border: none;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-property: border;
            transition-property: border;
            
            &:hover, &:active, &:focus{
                border: 0.5rem solid #ffffff;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                -webkit-transition-property: border;
                transition-property: border;
            }
        }
    }
    
}

@include p.smartphone{
    
    .choix_oeuvres{
        select{
            font-size: p.$tailleLien - 1.5;
            padding: 1rem 6rem;
        }
    }
    
    .liste_oeuvres{
        
        p{
           font-size: p.$tailleLien - 1.5; 
        }
        
        .oeuvre{
            width: 15rem;
            
            a{
                &:hover, &:active, &:focus{
                    border-width: 0.3rem;
                }
            }
        }
        
    }
    
}